// colors
$accentColor = #0073D2
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #3BC9FF
$badgeWarningColor = #FFCF33
$badgeErrorColor = #EB0A0A

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 1080px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 959px
$MQMobileNarrow = 419px