.BrightButton {
    &__primary {
        &--standard {
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--primary--standard;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--primary--standard--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--primary--standard--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--primary--standard--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #FFF transparent transparent transparent;
             }
        }

        &--alternative {
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--primary--alternative;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--primary--alternative--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--primary--alternative--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--primary--alternative--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #FFF transparent transparent transparent;
             }
        }

        &--danger {
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--primary--danger;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--primary--danger--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--primary--danger--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--primary--danger--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #FFF transparent transparent transparent;
             }
        }
    }

    &__secondary {
        &--standard {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--secondary--standard;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--secondary--standard--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--secondary--standard--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--secondary--standard--disabled;
            }
        }

        &--alternative {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--secondary--alternative;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--secondary--alternative--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--secondary--alternative--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--secondary--alternative--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #323F4B transparent transparent transparent;
             }
        }

        &--danger {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--secondary--danger;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--secondary--danger--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--secondary--danger--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply shadow-none cursor-not-allowed __buttons--secondary--danger--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #E12D39 transparent transparent transparent;
             }
        }
    }

    &__tertiary {
        &--standard {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--tertiary--standard;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--tertiary--standard--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--tertiary--standard--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply cursor-not-allowed __buttons--tertiary--standard--disabled;
            }
        }

        &--alternative {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--tertiary--alternative;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--tertiary--alternative--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--tertiary--alternative--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply cursor-not-allowed __buttons--tertiary--alternative--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #323F4B transparent transparent transparent;
             }
        }

        &--danger {
            @apply shadow-none !important;
            @apply inline-block shadow-state-default text-center transition-smooth __buttons--tertiary--danger;

            &:hover, &:focus {
                @apply shadow-state-focused __buttons--tertiary--danger--hover;
            }
            &:active, &.BrightButton__active {
                @apply shadow-state-pressed __buttons--tertiary--danger--active;
            }
            &:disabled, &[data-disabled-link=true] {
                @apply cursor-not-allowed __buttons--tertiary--danger--disabled;
            }

             .BrightButtonLoader div {
                 border-color: #E12D39 transparent transparent transparent;
             }
        }
    }

    &__size--large {
        @apply __buttons--large mb-0;
        &--icon-and-text {
            @apply __buttons--icon-and-text--size--large;
        }
    }
    &__size--medium {
        @apply __buttons--medium mb-0;
        &--icon-and-text {
            @apply __buttons--icon-and-text--size--medium;
        }
    }
    &__size--small {
        @apply __buttons--small mb-0;
        &--icon-and-text {
            @apply __buttons--icon-and-text--size--small;
        }
    }

    &__href {
        &:hover {
            @apply no-underline !important;
        }
    }

    &__rounded, &__rounded:hover, &__rounded:focus, &__rounded:active, &__rounded:disabled, &__rounded[data-disabled-link=true] {
        @apply rounded-full;
    }
 }